@font-face {
  src: url(font/SingleFighter.otf);
  font-family: fighter;
}

body {
    font-family: fighter;
    background-color: #c6c0e2;
    height: 100vh;
    margin: 0;
    background: url(img/streetFighter.gif);
    background-repeat: no-repeat;
    background-size: cover;
  }

  
  section {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .game--title{
    font-size: 7em;
    background: linear-gradient(red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;
    margin: 0;
  }
  .game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    border: 0;
  }
  
  .cell {
    font-family: 'Permanent Marker', cursive;
    width: 100px;
    height: 100px;
    border: 0;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
    color:  yellow;
  }
  .cell:nth-child(1){
    border-right:8px solid red;
    border-bottom:8px solid red;
  }
  .cell:nth-child(2){
    border-right:8px solid red;
    border-bottom:8px solid red;
  }
  .cell:nth-child(3){
    border-bottom:8px solid red;
  }
  .cell:nth-child(4){
    border-bottom:8px solid red;
    border-right:8px solid red;
  }
  .cell:nth-child(5){
    border-bottom:8px solid red;
    border-right:8px solid red;
  }
  .cell:nth-child(6){
    border-bottom:8px solid red;
  }
  .cell:nth-child(7){
    border-right:8px solid red;
  }
  .cell:nth-child(8){
    border-right:8px solid red;
  }
  .game--status{
    font-size: 2rem;
    margin: 0;
    color:  red;
  }
  .game--restart{
    padding: 12px 15px;
    cursor: pointer;
    background-color: red;
    border:1px solid red;
    border-radius: 4px;
    transform: scale(1);
    transition: transform 200ms ease-in-out;
    outline: none;
    color: #fff;
  }
  .game--restart:active{
    transform: scale(1.4);
  }
  .game--restart:hover{
    background-color: red;
  }
